<!DOCTYPE html>
<html>
  <head>
    <title>DebtJS</title>
    
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
  
    <link rel="shortcut icon" href="resources/ic_account_balance_wallet_black_48dp.png" />
    <link rel="stylesheet" href="resources/fonts/fonts.css"/>
    <link rel="stylesheet" href="resources/angular-material.css" />
    <link rel="stylesheet" href="resources/debt.css" />
    
    <script src="libs.js"></script>
    <script src="debt.js"></script>
  </head>

  <body ng-app="debtApp" ng-controller="DebtAppCtrl as vm" ng-cloak layout="column"
 >

    <div id="container" flex layout-fill layout="column">

      <md-toolbar md-scroll-shrink>
        <div class="md-toolbar-tools">
          <md-button ng-click="$state.go('balanceSheet')" class="md-icon-button" aria-label="Home">
            <md-icon md-svg-icon="action:ic_home_24px"></md-icon>
          </md-button>

          <span flex></span>

          <md-menu md-position-mode="target-right target">
            <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Open menu">
              <md-icon md-menu-origin md-svg-icon="navigation:ic_more_vert_24px"></md-icon>
            </md-button>
            <md-menu-content>
              <md-menu-item>
                <md-button ng-click="vm.createNewSheet()">
                  <span md-menu-align-target>New sheet</span>
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ngf-select ngf-change="vm.loadSheet($files)"><span>Load sheet from file</span></md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="vm.exportSheet()">
                  <span>Save sheet to file</span>
                </md-button>
              </md-menu-item>
              <md-menu-divider></md-menu-divider>
              <md-menu-item>
                <md-button ng-click="$state.go('currencies')">
                  <span>Set up currencies</span>
                </md-button>
              </md-menu-item>
              <md-menu-divider></md-menu-divider>
              <md-menu-item>
                <md-button ng-click="vm.showHelp()">
                  <span>Help</span>
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
      </md-toolbar>

      <md-toolbar ng-if="vm.errorMessage" class="md-warn">
        <div class="md-toolbar-tools">{{vm.errorMessage}}</div>
      </md-toolbar>

      <md-content flex layout-padding ng-if="vm.balanceSheet">
        <div ui-view></div>
      </md-content>

      <div ng-if="vm.balanceSheet" ui-view="floatingButton"></div>

    </div>

  </body>

</html> 