<md-dialog>
  <form name="form" novalidate>
    <md-dialog-content class="sticky-container">
      <h2 class="md-headline">Create person</h2>
      <div>
          <md-input-container>
            <label>Name</label>
            <input type="text" ng-model="vm.person.name" ng-required="true"/>
          </md-input-container>
          <md-checkbox ng-model="vm.options.createParticipations" class="md-primary no-margin">
            Shares all expenses
          </md-checkbox>
      </div>
    </md-dialog-content>
    <div class="md-actions">
      <md-button type="button" ng-click="vm.cancel()">Cancel</md-button>
      <md-button type="submit" ng-click="vm.ok()" ng-disabled="!form.$valid" class="md-primary">Ok</md-button>
    </div>
  </form>
</md-dialog>
