<section>

  <div layout="row">
  
    <h2 flex>
      <md-input-container class="no-margin, no-padding" md-no-float>
        <input type="text" ng-model="vm.person.name" ng-required="true" placeholder="Person name"/>
      </md-input-container> 
    </h2>
    
    <md-button class="md-icon-button" ng-click="vm.removePerson()" aria-label="delete">
      <md-tooltip>Delete</md-tooltip>
      <md-icon md-svg-icon="action:ic_delete_24px"/>
    </md-button>
    
  </div>
  
  <div layout="column" >
  
    <div layout="row" layout-align="start center">
      <div flex>Balance</div>
      <div style="margin: 15px; padding-right: 8px">{{vm.balance | balance}}</div>
    </div>
        
  </div>
  
</section>


<section>
  <!-- Inputs and the new md-list-item do not to mix well. Animation stops etc. Sticking to a custom solution. -->

  <div layout="column">
    
    <div ng-repeat="expense in vm.balanceSheet.expenses"
      layout-sm="column" layout-align-sm="center start"
      layout-gt-sm="row" layout-align-gt-sm="start center">

      <div layout-fill flex-gt-sm layout="row" layout-align="start center" >
        <md-checkbox class="md-primary no-margin"
                     ng-class="{'md-warn': !expense.isBalanced()}"
                     ng-model="vm.isParticipant[expense.id]"
                     ng-change="vm.setParticipation(expense, vm.isParticipant[expense.id])"
                     ng-disabled="expense.settled">
          <span ng-class="{settled: expense.settled}">{{expense.name}}</span>
        </md-checkbox>
        <span flex></span>
        <md-button hide-gt-sm ng-href="#/expenses/{{expense.id}}" class="md-icon-button" aria-label="View details"><md-icon md-svg-icon="navigation:ic_chevron_right_24px"></md-icon></md-button>
      </div>
      
      <div layout="row">
        <md-input-container>
          <label>Paid</label>
          <input type="number" style="width: 8em"
                 ng-required="vm.isParticipant[expense.id]" pattern="(0|[1-9][0-9]*)([,|\.][0-9]{0,2})?"
                 ng-model="vm.balanceSheet.getParticipation({person: vm.person, expense: expense}).paid"
                 ng-change="vm.updateExpense(expense)"
                 ng-disabled="expense.settled || !vm.isParticipant[expense.id]" />
        </md-input-container>
        <md-input-container>
          <label>Shared</label>
          <input type="number" style="width: 8em"
                 ng-required="vm.isParticipant[expense.id]"
                 ng-model="vm.balanceSheet.getParticipation({person: vm.person, expense: expense}).share"
                 ng-change="vm.updateExpense(expense)"
                 ng-disabled="expense.settled || !vm.isParticipant[expense.id]"
                 ng-readonly="expense.sharing != 'custom'" />
        </md-input-container>
      </div>
  
      <md-button hide-sm ng-href="#/expenses/{{expense.id}}" class="md-icon-button" aria-label="View details"><md-icon md-svg-icon="navigation:ic_chevron_right_24px"></md-icon></md-button>

    </div>
    
    <div
      layout-sm="column" layout-align-sm="center start"
      layout-gt-sm="row" layout-align-gt-sm="start center">
    
      <div layout-fill flex-gt-sm layout="row">
        <span class="label">Total</span>
      </div>
      
      <div layout="row" >
        <md-input-container>
          <label>Paid</label>
          <input type="number" style="width: 8em" ng-model="vm.cost" ng-readonly="true" />
        </md-input-container>
        <md-input-container>
          <label>Shared</label>
          <input type="number" style="width: 8em" ng-model="vm.sumOfShares" ng-readonly="true"/>
        </md-input-container>
      </div>
      
      <icon-button-strut hide-sm></icon-button-strut>
      
    </div>
    
  </div>
</section>

<section>
  <div layout="column">
  
    <div ng-switch="vm.debtRole">
      <span ng-switch-when="debtor">{{vm.person.name}} owes</span>
      <span ng-switch-when="creditor">{{vm.person.name}} is owed by</span>
      <span ng-switch-when="settled">{{vm.person.name}} is settled up</span>
      <span ng-switch-when="unbalanced">Debts cannot be computed. There are unbalanced expenses.</span>
    </div>
    
    <div ng-repeat="d in vm.debts" style="margin-left: 16px;">
        {{d.person.name}}: {{d.amount | currency:""}}
    </div>
    
  </div>
</section>