<md-list class="menu">
	<md-item ng-repeat="expense in expenses">
		<md-item-content>
			<div class="md-tile-content" layout="column">
              <div layout="row" layout-align="space-between center">
                <md-button ng-href="#/expenses/{{expense.id}}">{{expense.name}}</md-button>
                <div>{{expense.getCost() | currency:""}}</div>
              </div>
              <div flex ng-if="!expense.isBalanced()" style="color: red;">Costs and shares unbalanced</div>
            </div>
		</md-item-content>
		<md-divider ng-if="!$last"></md-divider>
	</md-item>
</md-list>