<section>

  <div layout="row">
  
    <h1 flex>
      <md-input-container class="no-margin no-padding" md-no-float>
        <input type="text" placeholder="Expense name"
               ng-model="vm.expense.name"
               ng-change="vm.updateExpense()"
               ng-required="true"/>
      </md-input-container> 
    </h1>
    
    <md-button class="md-icon-button" ng-click="vm.removeExpense()" aria-label="delete">
      <md-tooltip>Delete</md-tooltip>
      <md-icon md-svg-icon="action:ic_delete_24px"></md-icon>
    </md-button>
    
  </div>
  
  <div layout="column" class="padding-left">
  
    <div layout="row" layout-align="start center">
      <label for="cost" flex>Cost</label>
      <div id="cost" style="margin: 15px; padding-right: 8px;">{{vm.cost | money}}</div>
    </div>

    <div ng-if="::vm.balanceSheet.currenciesEnabled()" layout="row" layout-align="start center">
      <label flex>Currency</label>
      <md-autocomplete md-selected-item="vm.expense.currency"
                       md-search-text="vm.currencySearchText"
                       md-search-text-change="vm.setCurrency(vm.currencySearchText)"
                       md-selected-item-change="vm.setCurrency(vm.expense.currency)"
                       md-items="currency in vm.balanceSheet.getCurrencies()"
                       md-item-text="currency" style="margin-right: 15px;">
        <md-item-template>
          <span md-highlight-text="vm.currencySearchText">{{currency}}</span>
        </md-item-template>
      </md-autocomplete>
    </div>
    
    <div layout="row" layout-align="start center">
      <label for="sharing" flex>Share equally</label>
      <md-switch ng-model="vm.expense.sharing"
                 ng-change="vm.updateExpense()"
                 ng-disabled="vm.expense.settled"
                 ng-true-value="'equal'" ng-false-value="'custom'"
                 id="sharing" class="md-primary" aria-label="Share equally">
      </md-switch>
    </div>

    <div layout="row" layout-align="start center">
      <label for="settled" flex>Settled</label>
      <md-switch ng-model="vm.expense.settled"
                 ng-change="vm.updateExpense()"
                 id="settled" class="md-primary" aria-label="Settled">
      </md-switch>
    </div>

  </div>
  
</section>


<section>
  <md-subheader class="md-primary md-no-sticky padding-vertical">People</md-subheader>

  <div layout="column" class="padding-left">

    <div ng-repeat="person in vm.balanceSheet.persons"
      layout-sm="column" layout-align-sm="center start"
      layout-gt-sm="row" layout-align-gt-sm="start center">

      <div layout-fill flex-gt-sm layout="row" layout-align="start center">
        <md-checkbox class="md-primary no-margin"
                     ng-model="vm.isParticipant[person.id]"
                     ng-change="vm.setParticipation(person, vm.isParticipant[person.id])"
                     ng-disabled="vm.expense.settled">
          {{person.name}}
        </md-checkbox>
        <span flex></span>
        <md-button hide-gt-sm ng-href="#/persons/{{person.id}}" class="md-icon-button" aria-label="View details">
          <md-icon md-svg-icon="navigation:ic_chevron_right_24px"></md-icon>
        </md-button>
      </div>

      <div layout="row" layout-align="start center">
        <span class="input-currency" ng-if="::vm.balanceSheet.currenciesEnabled()">{{vm.expense.currency}}</span>
        <md-input-container class="no-padding-left">
          <label>Paid</label>
          <input type="number" money-input style="width: 8em" ng-required="vm.isParticipant[person.id]"
            ng-model="vm.balanceSheet.getParticipation({person: person, expense: vm.expense}).paid"
            ng-change="vm.updateExpense()"
            ng-disabled="vm.expense.settled || !vm.isParticipant[person.id]" />
        </md-input-container>
        <md-input-container class="no-padding-left">
          <label>Share</label>
          <input type="number" money-input style="width: 8em" ng-required="vm.isParticipant[person.id]"
            ng-model="vm.balanceSheet.getParticipation({person: person, expense: vm.expense}).share"
            ng-change="vm.updateExpense()"
            ng-disabled="vm.expense.settled || !vm.isParticipant[person.id]"
            ng-readonly="vm.expense.sharing != 'custom'" />
        </md-input-container>
      </div>

      <md-button hide-sm ng-href="#/persons/{{person.id}}" class="md-icon-button" aria-label="View details">
        <md-icon md-svg-icon="navigation:ic_chevron_right_24px"></md-icon>
      </md-button>

    </div>

    <div
      layout-sm="column" layout-align-sm="center start"
      layout-gt-sm="row" layout-align-gt-sm="start center">

      <div layout-fill flex-gt-sm layout="row" layout-align="start center">
        <span ng-if="!vm.expense.isBalanced()" style="color: red;">
          <md-icon class="md-warn no-margin-left no-padding-left" md-svg-icon="alert:ic_warning_24px"></md-icon>&nbsp;Unbalanced
        </span>
        <span ng-if="vm.expense.isBalanced()" class="label">Total</span>
        <icon-button-strut hide-gt-sm></icon-button-strut>
      </div>

      <div layout="row" layout-align="start center">
        <span class="input-currency" ng-if="::vm.balanceSheet.currenciesEnabled()">{{vm.expense.currency}}</span>
        <md-input-container class="no-padding-left">
          <label>Paid</label>
          <input type="number" money-input style="width: 8em" ng-model="vm.cost" ng-readonly="true" />
        </md-input-container>
        <md-input-container class="no-padding-left">
          <label>Share</label>
          <input type="number" money-input style="width: 8em" ng-model="vm.sumOfShares" ng-readonly="true"/>
        </md-input-container>
      </div>

      <icon-button-strut hide-sm></icon-button-strut>

    </div>

  </div>
</section>


<section>
  <md-subheader class="md-primary md-no-sticky padding-vertical">Debts</md-subheader>

  <div layout="column" class="padding-left">

    <div ng-if="vm.debtsByDebtor.length > 0">
      <p ng-if="!vm.expense.settled">To settle this expense individually:</p>
      <div ng-if="vm.expense.settled">
        <p>This expense is settled. It does not affect total balances and debts.</p>
        <p>The debts from this expense were:</p>
      </div>
      <div ng-repeat="d in vm.debtsByDebtor">
        <p layout="column">
          <span class="margin-bottom">{{d.debtor.name}} owes </span>
          <span ng-repeat="c in d.debts" class="margin-bottom" style="margin-left: 16px;">
            {{c.creditor.name}}: {{c.currency}} {{c.amount | money}}
          </span>
          <span class="invisible-linebreak"><br/></span>
        </p>
      </div>
    </div>

    <div ng-if="vm.debtsByDebtor.length == 0">
      <p>No debts!</p>
    </div>

    <div ng-if="!vm.expense.isBalanced()">
      <p>Cannot compute debts. Expense is not balanced.</p>
    </div>

  </div>

</section>