<section layout="column">

  <div layout="row" layout-align="start start">

    <md-input-container class="md-title" flex md-no-float>
      <input type="text" placeholder="Expense name"
             ng-model="::vm.expense.name"
             ng-change="::vm.updateExpense()"
             ng-required="true"/>
    </md-input-container>

    <md-button class="md-icon-button" aria-label="delete"
               ng-click="::vm.removeExpense()">
      <md-tooltip>Delete</md-tooltip>
      <md-icon md-svg-icon="action:ic_delete_24px"></md-icon>
    </md-button>
    
  </div>
  
  <div layout="column">

    <div ng-if="::vm.balanceSheet.currenciesEnabled()" class="row" layout="row" layout-align="start center">
      <label for="currency" flex>Currency</label>
      <md-select id="currency" aria-label="Currency" class="no-margin margin-right"
                 ng-model="vm.expense.currency" ng-change="::vm.updateExpense()">
        <md-option ng-value="::currency" ng-repeat="currency in ::vm.balanceSheet.getCurrencies()">{{::currency}}</md-option>
      </md-select>
    </div>


    <div class="row" layout="row" layout-align="start center">
      <label for="cost" flex>Cost</label>
      <div id="cost" class="margin-right">
        <span ng-if="::vm.balanceSheet.currenciesEnabled()">{{vm.expense.currency}}</span> {{vm.cost | money}}
        <span ng-if="vm.balanceSheet.currenciesEnabled() && vm.balanceSheet.currency !== vm.expense.computedCurrency()">
          ({{vm.balanceSheet.currency}} {{vm.expense.getCost(vm.balanceSheet.currency) | money}})
        </span>
      </div>
    </div>


    <div class="row" layout="row" layout-align="start center">
      <label for="sharing" flex>Share equally</label>
      <md-switch ng-model="vm.expense.sharing"
                 ng-change="::vm.updateExpense()"
                 ng-disabled="vm.expense.settled"
                 ng-true-value="'equal'" ng-false-value="'custom'"
                 id="sharing" class="md-primary no-margin" aria-label="Share equally">
      </md-switch>
    </div>

    <div class="row" layout="row" layout-align="start center">
      <label for="settled" flex>Settled</label>
      <md-switch ng-model="vm.expense.settled"
                 ng-change="::vm.updateExpense()"
                 id="settled" class="md-primary no-margin" aria-label="Settled">
      </md-switch>
    </div>

  </div>
  
</section>


<section>
  <md-subheader class="md-primary section-header md-no-sticky">People</md-subheader>

  <div layout="column">

    <div ng-repeat="person in vm.balanceSheet.persons"
         class="participation"
         layout-xs="column" layout-align-xs="center start"
         layout-gt-xs="row" layout-align-gt-xs="start center">

      <div layout-fill flex-gt-xs class="participant" layout="row" layout-align="start center">
        <md-checkbox class="md-primary"
                     ng-model="::vm.isParticipant[person.id]"
                     ng-change="::vm.setParticipation(person, vm.isParticipant[person.id])"
                     ng-disabled="vm.expense.settled">
          {{::person.name}}
        </md-checkbox>
        <span flex></span>
        <md-button hide-gt-xs ng-href="#/persons/{{::person.id}}" class="md-icon-button"
                   aria-label="{{::person.name}} details">
          <md-icon md-svg-icon="navigation:ic_chevron_right_24px"></md-icon>
        </md-button>
      </div>

      <div layout="row" layout-align="start center">
        <span class="currency-label" ng-if="::vm.balanceSheet.currenciesEnabled()">{{vm.expense.currency}}</span>
        <md-input-container>
          <label>Paid</label>
          <input type="number" money-input
                 ng-required="::vm.isParticipant[person.id]"
                 ng-model="::vm.balanceSheet.getParticipation({person: person, expense: vm.expense}).paid"
                 ng-change="::vm.updateExpense()"
                 ng-disabled="vm.expense.settled || !vm.isParticipant[person.id]"/>
        </md-input-container>
        <md-input-container>
          <label>Share</label>
          <input type="number" money-input
                 ng-required="::vm.isParticipant[person.id]"
                 ng-model="::vm.balanceSheet.getParticipation({person: person, expense: vm.expense}).share"
                 ng-change="::vm.updateExpense()"
                 ng-disabled="vm.expense.settled || !vm.isParticipant[person.id]"
                 ng-readonly="vm.expense.sharing != 'custom'"/>
        </md-input-container>
      </div>

      <md-button hide-xs ng-href="#/persons/{{::person.id}}" class="md-icon-button"
                 aria-label="{{::person.name}} details">
        <md-icon md-svg-icon="navigation:ic_chevron_right_24px"></md-icon>
      </md-button>

    </div>

    <div class="participation"
        layout-xs="column" layout-align-xs="center start"
        layout-gt-xs="row" layout-align-gt-xs="start center">

      <div layout-fill flex-gt-xs layout="row" layout-align="start center">
        <span ng-if="!vm.isBalanced" style="color: red;">
          <md-icon class="md-warn no-margin-left" md-svg-icon="alert:ic_warning_24px"></md-icon>&nbsp;Unbalanced
        </span>
        <span ng-if="vm.isBalanced" class="label">Total</span>
        <icon-button-strut hide-gt-xs></icon-button-strut>
      </div>

      <div layout="row" layout-align="start center">
        <span class="currency-label" ng-if="::vm.balanceSheet.currenciesEnabled()">{{vm.expense.currency}}</span>
        <md-input-container>
          <label>Paid</label>
          <input type="number" money-input ng-model="::vm.cost" ng-readonly="true"/>
        </md-input-container>
        <md-input-container>
          <label>Share</label>
          <input type="number" money-input ng-model="::vm.sumOfShares" ng-readonly="true"/>
        </md-input-container>
      </div>

      <icon-button-strut hide-xs></icon-button-strut>

    </div>

  </div>
</section>


<section>
  <md-subheader class="md-primary section-header md-no-sticky">Debts</md-subheader>

  <div layout="column">

    <div ng-if="vm.debtsByDebtor.length > 0">
      <p ng-if="!vm.expense.settled">To settle this expense individually:</p>
      <div ng-if="vm.expense.settled">
        <p>This expense is settled. It does not affect total balances and debts.</p>
        <p>The debts from this expense were:</p>
      </div>
      <div ng-repeat="d in vm.debtsByDebtor">
        <p layout="column">
          <span class="margin-bottom">{{d.debtor.name}} owes </span>
          <span ng-repeat="c in d.debts" class="margin-bottom margin-left-double">
            {{c.creditor.name}}: <span ng-if="::vm.balanceSheet.currenciesEnabled()">{{c.currency}}</span> {{c.amount | money}}
          </span>
        </p>
      </div>
    </div>

    <div ng-if="vm.debtsByDebtor.length == 0">
      <p>No debts!</p>
    </div>

    <div ng-if="!vm.isBalanced">
      <p>Cannot compute debts. Expense is not balanced.</p>
    </div>

  </div>

</section>