<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Debt.js</title>
<link rel="stylesheet" type="text/css" href="resources/onsen/css/onsen-css-components.css" />
<link rel="stylesheet" type="text/css" href="resources/onsen/css/onsenui.css" /> 
<script src="debt.js"></script>
</head>

<body ng-app="debtApp">
	
<ons-navigator animation="slide" var="app.navi">
	<ons-page>
		<ons-toolbar>
			<div class="center">Home</div>
		</ons-toolbar>
		
		<ons-list>
			<ons-list-item modifier="chevron" 
				ng-click="app.navi.pushPage('participants/participant-list.html')">Participants</ons-list-item>
			<ons-list-item modifier="chevron"
				ng-click="app.navi.pushPage('expenses/expense-list.html')">Expenses</ons-list-item>
		</ons-list>
		
	</ons-page>
</ons-navigator>	
		
</body>

</html> 