<mfb-menu position="br" effect="zoomin" toggling-method="click"
          template-url="ng-mfb-menu-md.tpl.html"
          resting-icon="content:ic_add_24px" active-icon="content:ic_clear_24px">
  <mfb-button ng-click="vm.createExpense()"
              template-url="ng-mfb-button-md.tpl.html"
              icon="action:ic_shopping_basket_24px" label="Create expense"
              mfb-button-close>
  </mfb-button>
  <mfb-button ng-click="vm.createPerson()"
              template-url="ng-mfb-button-md.tpl.html"
              icon="action:ic_face_24px" label="Create person"
              mfb-button-close>
  </mfb-button>
</mfb-menu>