<md-subheader class="md-primary">Debts</md-subheader>
<md-card>
  <md-card-content>
    <div layout="column">
      <div ng-if="debtsByDebtor.length > 0">
        <p>All expenses are settled when</p>
        <md-list>
          <md-item ng-repeat="d in debtsByDebtor">
            <md-item-content layout="column" layout-align="space-between start">
              <div flex>{{d.debtor.name}} pays</div>
              <md-list flex style="padding-left: 16px">
                <md-item ng-repeat="c in d.debts">
                  <md-item-content>
                    {{c.creditor.name}}: {{c.amount | currency:""}}
                  </md-item-content>
                </md-item>
              </md-list>
            </md-item-content>
          </md-item>
        </md-list>
      </div>
      <div ng-if="balanceSheet.persons.length == 0 || balanceSheet.expenses.length == 0">Add some people and expenses first. Debts settling up all the expenses will appear here.</div>
      <div ng-if="debtsByDebtor.length == 0 && balanceSheet.persons.length > 0 && balanceSheet.expenses.length > 0">All expenses are settled up!</div>
      <div ng-if="!balanceSheet.isBalanced()">Cannot compute debts. There are unbalanced expenses.</div>
    </div>
  </md-card-content>
</md-card>

<md-subheader class="md-primary">Expenses</md-subheader>
<md-card>
  <md-list class="menu">
    <md-list-item class="md-2-line" ng-repeat="expense in balanceSheet.expenses">
      <div class="md-list-item-text" layout="column">
        <a href="#/expenses/{{expense.id}}" layout="row" layout-align="start center">
          <span>{{expense.name}}</span>
          <span flex></span>
          <span>{{expense.getCost() | currency:""}}</span>
          <span class="chevron"><md-icon md-svg-icon="navigation:ic_chevron_right_24px" /></span>
        </a>
        <div ng-if="!expense.isBalanced()" style="color: red;">Costs and shares unbalanced</div>
      </div>
      <md-divider ng-if="!$last"></md-divider>
    </md-list-item>
    <md-list-item ng-if="balanceSheet.expenses.length == 0">
      <div class="md-list-item-text">
          No expenses.
      </div>
    </md-list-item>
  </md-list>
</md-card>

<md-subheader class="md-primary">People</md-subheader>
<md-card>
  <md-list class="menu">
    <md-item ng-repeat="person in balanceSheet.persons">
      <md-item-content>
        <div class="md-tile-content" layout="column">
          <div layout="row" layout-align="space-between center">
            <md-button ng-href="#/persons/{{person.id}}">{{person.name}}</md-button>
            <div>Balance</div>
          </div>
        </div>
      </md-item-content>
      <md-divider ng-if="!$last"></md-divider>
    </md-item>
    <md-item ng-if="balanceSheet.persons.length == 0">
      <md-item-content>
        <div class="md-tile-content">
          No people.
         </div>
      </md-item-content>
    </md-item>
  </md-list>
</md-card>