<md-content>

  <section>
    <md-subheader class="md-primary">
      <div layout="row">
        <h2 flex>
          <md-input-container class="no-margin, no-padding">
            <input type="text" ng-model="balanceSheet.name" required/>
          </md-input-container> 
        </h2>
      </div>
    </md-subheader>
  </section>
  
  <section>
    <div layout="column" layout-margin-sides>
      <div flex ng-if="debtsByDebtor.length > 0">
        <p>All unsettled expenses are settled by</p>
        <md-list>
          <md-item ng-repeat="d in debtsByDebtor">
            <md-item-content layout="column" layout-align="space-between start">
              <div flex>{{d.debtor.name}} should pay</div>
              <md-list flex style="padding-left: 16px">
                <md-item ng-repeat="c in d.debts">
                  <md-item-content>
                    {{c.creditor.name}}: {{c.amount | currency:""}}
                  </md-item-content>
                </md-item>
              </md-list>
            </md-item-content>
          </md-item>
        </md-list>
      </div>
      <div flex ng-if="debtsByDebtor.length === 0">No debts!</div>
      <div flex ng-if="!balanceSheet.isBalanced()">Cannot compute debts. There are unbalanced expenses.</div>
    </div>
  </section>

</md-content>