<md-fab-speed-dial md-direction="up"
                   ng-init="isFabOpen = false" md-open="isFabOpen"
                   ng-mouseenter="isFabOpen = true" ng-mouseleave="isFabOpen = false"
                   class="md-fab-bottom-right md-scale md-hover-full">
  <md-fab-trigger>
    <md-button aria-label="Create..."
               class="md-fab md-primary">
      <md-icon md-svg-icon="content:ic_add_24px"></md-icon>
    </md-button>
  </md-fab-trigger>
  <md-fab-actions>
    <md-button ng-click="vm.createExpense()"
               aria-label="Create expense"
               class="md-fab md-primary md-mini">
      <md-icon md-svg-icon="action:ic_shopping_basket_24px"></md-icon>
    </md-button>
    <md-button ng-click="vm.createPerson()"
               aria-label="Create person"
               class="md-fab md-primary md-mini">
      <md-icon md-svg-icon="action:ic_face_24px"></md-icon>
    </md-button>
  </md-fab-actions>
</md-fab-speed-dial>

