<section>
  <md-subheader class="md-primary md-no-sticky padding-vertical">Exchange rates</md-subheader>

  <md-list>
    <md-list-item ng-repeat="quotation in vm.exchangeRates">
      <div class="md-list-item-text exchange-rate" flex layout="row" layout-align="start center">
        <span flex="33">{{::quotation.fixed}} to {{::quotation.variable}}</span>
        <md-input-container md-no-float="true" style="padding-bottom: 2px">
          <input type="number"
                 placeholder="exchange rate"
                 ng-model="::quotation.rate"
                 ng-change="::vm.updateExchangeRate(quotation)"
                 min="0.0001"/>
        </md-input-container>
        <span flex></span>
        <md-button ng-click="::vm.removeExchangeRate(quotation)">
          <md-icon aria-label="Remove" md-svg-icon="action:ic_delete_24px"></md-icon>
        </md-button>
      </div>
    </md-list-item>
  </md-list>

  <p ng-if="!vm.exchangeRates || vm.exchangeRates.length == 0" class="padding-left">
    Enable currencies by adding an exchange rate. Click the floating button below.
  </p>
</section>

<section>
  <md-subheader class="md-primary md-no-sticky padding-vertical">Settings</md-subheader>

  <div layout="column" class="padding-left">

    <div flex layout="row" layout-align="start center">
      <label flex for="default-currency">Default currency</label>
      <md-select id="default-currency"
                 placeholder="Default currency"
                 ng-model="::vm.defaultCurrency"
                 ng-change="::vm.updateDefaultCurrency()"
                 style="padding-right: 8px; margin-right: 15px" >
        <md-option ng-repeat="currency in vm.currencies">{{::currency}}</md-option>
      </md-select>
    </div>

  </div>

</section>


<mfb-menu position="br" effect="none" toggling-method="hover"
          label="Add exchange rate"
          template-url="ng-mfb-menu-md.tpl.html"
          resting-icon="editor:ic_attach_money_24px" active-icon="editor:ic_attach_money_24px"
          main-action="::vm.openExchangeRateDialog()">
</mfb-menu>