<md-dialog>
  <form name="form" novalidate>
    <md-dialog-content>
      <h2 class="md-title">Add exchange rate</h2>
      <div layout="column" layout-align="center start">
        <md-input-container>
          <label>Fixed currency</label>
          <input type="text"
                 ng-model="::vm.quotation.fixed"
                 required
                 autofocus/>
        </md-input-container>
        <md-input-container>
          <label>Variable currency</label>
          <input type="text"
                 ng-model="::vm.quotation.variable"
                 required/>
        </md-input-container>
        <md-input-container>
          <label>Exchange rate</label>
          <input type="number"
                 ng-model="::vm.quotation.rate"
                 required
                 min="0.0001"/>
        </md-input-container>
      </div>
    </md-dialog-content>
    <div class="md-actions">
      <md-button type="button" class="md-primary"
                 ng-click="::vm.cancel()">Cancel</md-button>
      <md-button type="submit" class="md-primary"
                 ng-click="::vm.ok();" ng-disabled="!form.$valid">Ok</md-button>
    </div>
  </form>
</md-dialog>
